<main>
        <h1>Welcome to Bread Cat!</h1>
        <div class="bg-image img-1"><img src= "images\noodle_stock.jpg" alt="noodle" class="noodle"></div>
        <div class="bg-image img-2"><img src= "images\postinos.jpg" alt="postinos" class="postinos"></div>
        <div class="bg-image img-3"><img src= "images\snooze.jpg" alt="snooze" class="snooze"></div>
        <div class="bg-text"><a href="/search">Search Restaurants</a><br></div>
    
</main>
