<main>
    <head>
        <link rel="stylesheet" href="../css/index.css">
    </head>
<<<<<<< HEAD
    <header>
        <h1>Welcome to Bread Cat!</h1>
    </header>
        <div class="bg-image img-1"><img src= "images\noodle_stock.jpg" alt="noodle" class="noodle"></div>
        <div class="bg-image img-2"><img src= "images\postinos.jpg" alt="postinos" class="postinos"></div>
        <div class="bg-image img-3"><img src= "images\snooze.jpg" alt="snooze" class="snooze"></div>
        <div class="bg-text"><a href="/search">Search Restaurants</a><br></div>
=======
    <div id="subhead">
    <h1>Welcome to Bread Cat!</h1>
    </div>
    
>>>>>>> 7357b7844c96cab4fb1b32b402d1edbc65aacdc8
    <body>
        
        {{#if user}}
            <p>You are logged in!</p>
            <form action="search" method="POST">
            <input type="text" name="searchQuery" id="searchQuery">
            <button type="submit">Search</button><br>
            </form>
            <a href="account">Account</a>
    <div class="login">  
    {{else}}
    <h2>Please login</h2>
    <p> Existing User </p>
    <a href="/login">Login</a><br>
    <p>Make a New Account</p>
   <a href="/register">Register</a> <br>
    {{/if}}
</div>
    </body>
</main>
