<main>
    <head>
        <link rel="stylesheet" href="../css/index.css">      
    </head>
<<<<<<< HEAD
    <header>
      <h1>Welcome to Bread Cat!</h1>
    </header>
        <div class="bg-image img-1"><img src= "images\noodle_stock.jpg" alt="noodle" class="noodle"></div>
        <div class="bg-image img-2"><img src= "images\postinos.jpg" alt="postinos" class="postinos"></div>
        <div class="bg-image img-3"><img src= "images\snooze.jpg" alt="snooze" class="snooze"></div>
        <div class="bg-text"><a href="/search">Search Restaurants</a><br></div>
=======
    <div id="subhead">
    <h1>Welcome to Bread Cat!</h1>
    </div>
>>>>>>> 300d3c8456d177ecf0edc852d502721e6de825e3
    
    <body>
        
        {{#if user}}
            <p>You are logged in!</p>
            <form action="search" method="POST">
            <input type="text" name="searchQuery" id="searchQuery">
            <button type="submit">Search</button><br>
            </form>
            <a href="account">Account</a>
    <div class="login">  
    {{else}}
 
    {{/if}}
</div>
    </body>
</main>
