<h1 style="margin-bottom:0;">BreadCat
<h3 style="margin:0; color: #f09651; white-space: nowrap"> - - - - - - - - - - - - - - - - - </h3>
<br>
<form action="/login" method="POST">
    <div class="imgcontainer">
        <img src="images\breadcat-login.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
        <label for="email"><b>Email</b></label><br>
        <input type="email" name="Enter email" id="email" class="email">
        <br><label for="password"><b>Password</b></label>
        <input type="password" name="password" id="password" class="password">
        <button type="submit">Login</button>
  </div> 
</form>
