<h1>Write a Review</h1>

<h1>{{Restaurant_Title}}</h1>

{{#if user}}
<form action="message" method="POST">
  <input autofocus type="text" name="message" id="message-input" placeholder="write a review">
  <button>send</button>
</form>

<ul>
  {{#each messages}}
  {{this.authorId}}: {{this.message}}
  {{/each}}
</ul>

<!--
    to create user rating system
    -->



<!--{{else}}
<a href="register">register</a>
<a href="login">login</a>
-->

{{/if}}