<h1>Search Restaurants</h1>
<h3>Results</h3>
<a href="/search">Search Again?</a>
<div id="result">
    <ul>
    {{#each results}}
        <li><p><a href="/restaurant/{{this.id}}">{{this.name}}</a><br>
		{{this.description}}</p></li>
    {{/each}}
    </ul>
</div>
<div class="topnav">
<a href="/">Home</a>

    {{#if user}}
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
</div>