<head>
	<link rel="stylesheet" href="../css/search.css">
</head>

<h1>Search Restaurants</h1>
<form action="/search" method="POST">
    <input type="text" name="searchQuery" id="searchQuery">
    <button type="submit">Search</button><br>
	<label for="glutenFree">Gluten Free</label>
	<input type="checkbox" name="glutenFree" id="glutenFree">
    <label for="vegetarian">Vegetarian</label>
	<input type="checkbox" name="vegetarian" id="vegetarian">
    <label for="vegan">Vegan</label>
	<input type="checkbox" name="vegan" id="vegan">
    <label for="lowCalorie">Low Sugar/Calorie</label>
	<input type="checkbox" name="lowCalorie" id="lowCalorie">
    <label for="kosher">Kosher</label>
	<input type="checkbox" name="kosher" id="kosher">
</form>
<div class="bg-image img-3"><img src= "images\map.PNG" alt="map" class="map"></div>
<a href="/">Home</a>
{{#if user}}
	<a href="/logout">Logout</a>
{{else}}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
{{/if}}