<head>
	<link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<h1>Search Restaurants</h1>
<form action="/search" method="POST">
	<label for="searchQuery">Search:</label>
    <input type="text" name="searchQuery" id="searchQuery" class="searchBar">
    <button type="submit">Search</button><br>
	<label for="glutenFree">Gluten Free</label>
	<input type="checkbox" name="glutenFree" id="glutenFree">
    <label for="vegetarian">Vegetarian</label>
	<input type="checkbox" name="vegetarian" id="vegetarian">
    <label for="vegan">Vegan</label>
	<input type="checkbox" name="vegan" id="vegan">
    <label for="lowCalorie">Low Sugar/Calorie</label>
	<input type="checkbox" name="lowCalorie" id="lowCalorie">
    <label for="kosher">Kosher</label>
	<input type="checkbox" name="kosher" id="kosher">
</form>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1KVmLEFHjEbcwGrn0_Gk4xI7amEUzSgro" width="640" height="480" class="map"></iframe>
<br>
<br>
<div class="topnav">
	<a href="/">Home</a>
	{{#if user}}
		<a href="/logout">Logout</a>
	{{else}}
		<a href="/login">Login</a>
		<a href="/register">Register</a>
	{{/if}}
</div>