<h1>Welcome to Bread Cat!</h1>
{{#if user}}
    <p>You are logged in!</p>
    <form action="message" method ="POST">
    <input autofocus type="text" name="message" id="message-input" placeholder="say something">
    <button>send message</button>
    </form>
    <a href="comment">Make a Review</a>
    <a href="account">Account</a>
{{else}}
<h2>Please login</h2>
<p>New User? Make a New Account!</p>
<a href="login">login</a>
<a href="register">Register</a>
{{/if}}
