<html>

<head>
    <title>Document</title>
</head>

<body>
    
    {{#if error}}
    <div style="background-color: darksalmon">
        {{error}}
    </div>
    {{/if}}
    {{{body}}}
    
</body>

</html>