<h1>Register For Bread Cat</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="address">address</label>
        <input type="text" name="address" id="address">
    </div>
    <div>
        <label for="phone">Phone Number</label>
        <input type="tel" name="phone" id="phone">
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
    </div>
    <label for"disorders">Check which of the following applies to you:</label>
    <div>
        <label for="gf">Gluten Free</label>
        <input type="checkbox" name="gf" id="gf">
        <label for="vn">Vegan</label>
        <input type="checkbox" name="vn" id="vn">
        <label for="veg">Vegetarian</label>
        <input type="checkbox" name="veg" id="veg">
        <label for="kos">Kosher</label>
        <input type="checkbox" name="kos" id="kos">
        <label for="na">None</label>
        <input type="checkbox" name="na" id="na">
        <label for="oth">Other</label>
        <input type="checkbox" name="oth" id="oth">
    </div>
    <button type="submit">register</button>
</form>
<a href="login">login</a>
<a href="/">home</a>