.map{
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
iframe {  
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 85%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: black;
}
