<html>

<head>
    <title>Bread Cat</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/comment.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div class="topnav">
            <a class="active" href="/">Home</a>
            
            <a href="/register">Register</a>
            <a href="/search">Find a Restaurant</a>
            {{#if user}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
    </div>
    <header>
      <h1>Welcome to Bread Cat!</h1>
    </header>
</header>

<body>

    <!--
    <div id="wrapper">
    <header>
        <h1>Bread Cat</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find a Restaurant</a></li>
            <li><a href="/account">My Profile</a></li>
            {{#if user}}
                <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </nav>-->
    {{#if error}}
    <div style="background-color: darksalmon">
        {{error}}
    </div>
    {{/if}}
    {{{body}}}

    <footer>

    </footer>
    </div>
    
</body>

</html>