<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/comment.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div id="wrapper">
    <header>
        <h1>Bread Cat</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find a Restaurant</a></li>
            <li><a href="/account">My Profile</a></li>
            {{#if user}}
                <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </nav>
    {{#if error}}
    <div style="background-color: darksalmon">
        {{error}}
    </div>
    {{/if}}
    {{{body}}}

    <footer>

    </footer>
    </div>
    
</body>

</html>